
@{
    Layout = null;
}

<script src="~/Scripts/bootstrap.min.js"></script>

<h3>Mvc Proje Kampı ~ Tablo Örneği</h3>

<table>
    <thead>
        <tr>
            <th>Kategori ID</th>
            <th>Kategori Ad</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Yazılım</td>
            <td>True</td>
        </tr>
    </tbody>
</table>